body {
    font-family: 'Orbitron', sans-serif;
    background-color: #265585;
}

.wrapper {
    /*display: inline-block;*/
    /*margin: 0 424px;*/
    /*width: 33%;*/
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 35px 90px 20px 90px;
    color: white;
}

h2 {
    text-align: center;
    margin: 5px 50px 5px 70px;
    color: white;
}

.box {
    padding: 50px 60px;
    margin: 1px;
    display: inline;
    border-radius: 20px;
    background-color: #fff2bf;
    cursor: pointer;
}

.box1to3 {
    padding: 0;
    margin: 80px 0 105px 0;
}

.box7to9 {
    padding: 0;
    margin: 105px 0 70px 0;
}

.boxes {
    text-align: center;
}

button {
    cursor: pointer;
    background-color: #a9bcff;
    padding: 15px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    color: white;
}